/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

//Site Variable 
    $color: #fff;
    $background-color: #e9d1b5;
    $title-color: #de4f8d; //pink
    $section-color: #242021; //blackish

@mixin body-font-regular {
    font-family: "source-sans-pro",sans-serif,helvetica;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: "source-sans-pro",sans-serif,helvetica;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: "source-sans-pro",sans-serif,helvetica;
    font-style: normal;
    font-weight: 400;
}

@mixin headline-font {
    font-family: "edo",sans-serif,helvetica;
    font-style: normal;
    font-weight: 400;
}